@import 'vars';
@import 'startInterface';
@import 'gameinterface';

body {
  color: $body_color;
  background-color: #fff;
}

body, html, #content {
  height: 100%;
}

#reconnect {
	position: fixed;
	top: 5px;
	right: 5px;
	z-index: 10;
}

#dev {
	position: fixed;
	top: 5px;
	left: 5px;
	padding: 5px;
	z-index: 20;

	&.open {
		background-color: #bae5ff;
	}

	.load-content {
		display: block;
		margin-top: 5px;
	}
}

