@import 'vars';
@import 'startInterface';
@import 'gameinterface';

body {
  color: $body_color;
  background-color: #fff;
}

body, html, #content {
  height: 100%;
}

#reconnect {
	position: fixed;
	top: 5px;
	right: 5px;
}
